<div class="row scroll-to-form">
  <div class="small-12 column">
    <div class="float-right">
      <%= link_to "#guest-information-form", class: "button hollow" do %>
        <sub><span class="icon-user"></span></sub>&nbsp;
        <%= t("guest_information.title") %>
      <% end %>
    </div>
  </div>
</div>
