// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

.poll-answers-form {
  .help-text {
    display: block;
    font-size: 1rem;
    margin: 0 0 $line-height / 2;
  }

  .question-answer-fields {
    margin-bottom: $line-height;
  }

  .question-answer {
    display: flex;
    margin-bottom: 0.5rem;
  }

  [type="radio"] {
    margin-bottom: 0;
  }
}

.poll-more-info-answers {
  .column:nth-child(odd) {
    border-right: 0;
  }
}

body:not(.admin) {
  .top-links {
    @include full-width-border(bottom, 1px solid $border, $adjust-padding: true);

    background: $white;
    color: $black;
    text-align: right;
  }
}

.locale {
  ul {
    justify-content: right;
  }

  .locale-form label {
    color: inherit;
  }
}

.top-bar {
  .top-bar-title a img {
    @include breakpoint(small only) {
      height: 3.5rem;
    }

    @include breakpoint(medium) {
      width: 12rem;
      margin: $line-height / 3 0;
    }
  }
}

.public > .wrapper > header {
  .top-bar {
    color: $black;
    background-color: $white;

    a {
      font-weight: bold;
    }
  }
}

.footer,
.polls-show-header,
.poll-more-info {
  background: #e1f2f0;
}

.footer {
  .logo img {
    @include breakpoint(small only) {
      height: 1.5rem;
      width: auto;
    }

    @include breakpoint(medium) {
      width: 7rem;
    }
  }

  .footer-sections img {
    height: 3rem;
  }
}

.poll-more-info {
  @include full-width-background;

  padding: $line-height 0;
}

.home-page {
  .header-card,
  .background-header {
    background-color: $brand-secondary;
  }
}

.form-error {
  font-size: $small-font-size;
}
